.collection {
  box-sizing: border-box;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  @apply grid gap-10 transition-all duration-300;
}

.skeletonCard {
  @apply h-96 self-stretch rounded-3xl;

  @media (any-hover: hover) {
    @apply h-48;
  }
}