.collection {
  box-sizing: border-box;
  justify-items: stretch;
  grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
  @apply grid gap-10 transition-all duration-300;
  //grid-template-rows: repeat(auto-fit, 200px);
}